h2 Calendrier
button.btn.btn-success(ng-click="openCalendarModal()") Nouvel événement
br
br
div.calendarelement(ng-repeat="element in calendarElementArray | orderBy: ['year', 'month', 'day']" ng-class-even="'even'" ng-class-odd="'odd'")
  .calendar-image(ng-if="element.photo && element.photo !==''")
    img(ng-src="{{element.photo}}")
    button.btn.btn-danger.btn-sm(ng-click="deleteCalendarPhoto(element._id)") Supprimer
  h3 {{element.title}}
    small &nbsp;à {{element.time}} le {{element.day}} {{element.month.slice(3)}} {{element.year}}
  span {{element.text}}
  br
  br
  button.btn.btn-primary.btn-sm(
            ngf-select="uploadImage(element._id, '/api/calendarelement/add-image/', $file)"
            ngf-pattern="'image/*'"
            ngf-accept="'image/*'"
            ngf-resize-if="$width > 1000 || $height > 800"
            ngf-resize="{width: 1000, height: 800, quality: .9, centerCrop: false}"
            ng-if="!element.photo || element.photo===''"
            ) Ajouter une image
  .edit-buttons
    span.fa.fa-2x.fa-edit(ng-click="modifyCalendarModal(element._id)")
    span.fa.fa-2x.fa-close(ng-click="deleteCalendarModal(element._id)")
